<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item"><a href="/accounts">Accounts</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Account</li>
		  </ol>
		</nav>	
		<div class=row>
			<div class="col">
				<h3>
				  Account
				  <small class="text-muted" th:text="${account.accountName}"></small>
				</h3>				
			</div>
			<div class="col">
				<h3>
				  Balance
				  <small class="text-muted" th:text="${account.balance}"></small>
				</h3>			
			</div>
			<div class="col">
				<h3>
				  Pending Balance
				  <small class="text-muted" th:text="${account.pendingBalance}"></small>
				</h3>			
			</div>		
		</div>		
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Transaction</th>
		      <th scope="col">Amount</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="transaction : ${account.transactions}">
		      <th scope="row" th:text="${transaction.id}"/>
		      <td th:text="${transaction.description}"/>
		      <td th:text="${transaction.amount}"/>
		      <td th:text="${transaction.status}"/>
		    </tr>
		  </tbody>
		</table>		
	</div>
</body>
</html>
