<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Accounts</li>
		  </ol>
		</nav>
		<div align="left">
			<h3>
			  Accounts
			</h3>	
		</div>	
		<div align="right">
			<a href="/newaccount" class="btn btn-primary" role="button">Open New Account</a>
		</div>				
		<div th:each="account : ${accounts}" class="card mb-3" style="width: 40rem;">
		  <div class="card-body">
		    <h5 class="card-title" th:text="${account.accountName}"/>
		    <h6 class="card-subtitle mb-2 text-muted" th:text="${account.balance}"/>
		    <p class="card-text"><b>Last transaction</b>&nbsp;<span th:text="${account.transactions[0].description}"/>...</p>
		    <a th:href="@{'/account/' + ${account.id}}" class="card-link">Details</a>
		  </div>
		</div>		
	</div>
</body>
</html>
