<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb bg-dark">
		    <li class="breadcrumb-item"><a class="text-light" href="/">Home</a></li>
		    <li class="breadcrumb-item"><a class="text-light" href="/accounts">Accounts</a></li>
		    <li class="breadcrumb-item text-light active" aria-current="page">Account</li>
		  </ol>
		</nav>	
		<div class="row">
			<div class="col" align="left">
				<h3>
				  Account
				  <small class="text-muted" th:text="${account.accountName} + ' ' + [ + ${account.accountNumber} + ]"></small>
				</h3>				
			</div>
			<div class="col" align="center">
				<h3>
				  Balance
				  <small class="text-muted" th:text="${account.balance + ' ' + account.currency}"></small>
				</h3>			
			</div>
			<div class="col" align="right">
				<h3>
				  Pending Balance
				  <small class="text-muted" th:text="${account.pendingBalance + ' ' + account.currency}"></small>
				</h3>			
			</div>		
		</div>		
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Transaction</th>
		      <th scope="col">Amount</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="transaction : ${account.transactions}" id="transaction">
		      <th scope="row" th:text="${transaction.oder}" id="order"/>
		      <td th:text="${transaction.description}" id="description"/>
		      <td th:text="${transaction.amount  + ' ' + account.currency}" id="amount"/>
		      <td th:text="${transaction.status}" id="status"/>
		    </tr>
		  </tbody>
		</table>		
	</div>
</body>
</html>
