<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-8">
				<h2>
					Accounts&nbsp;&nbsp;<small><a th:href="@{/new-account}">new</a></small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="row">
			<ul>
				<li th:each="account : ${accounts}"><a th:href="@{'/account/' + ${account.id}}"> <span th:text="${account.accountName}"></span>	</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
