<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item"><a href="/wallets">Wallets</a></li>
		    <li class="breadcrumb-item"><a th:href="@{'/wallet/' + ${wallet.walletAddress}}">Wallet</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Bank Transfer</li>
		  </ol>
		</nav>	
		<div class="card">
		  <h2 class="card-header">Wallet&nbsp;<small th:text="${wallet.walletName}"></small></h2>
		  <div class="card-body">
		    <h3 class="card-title" th:text="'Available Balance ' + ${account.balance}"/>
		    <form class="form-group" action="#" th:action="@{/banktransfer}" th:object="${transfer}" method="post">
		    	<label for="transferAmount">Transfer Amount</label>
			    <input type="text" class="form-control form-control-lg mb-2" th:field="*{transferAmount}" id="transferAmount"/>
			    <input id="accountId" th:field="*{accountId}" type="hidden"/>
			    <input id="walletAddress" th:field="*{walletAddress}" type="hidden"/>
			    <button type="submit" class="btn btn-primary">Transfer</button>
		    </form>
		  </div>
		</div>		
	</div>
</body>
</html>
