<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<!-- content goes here -->
        <nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page">Home</li>
		  </ol>
		</nav>
		<div class="list-group">
		  <a href="/accounts" class="list-group-item list-group-item-action flex-column align-items-start" id="accounts">
		    <div class="d-flex w-100 justify-content-between">
		      <h4 class="mb-1">Bank Accounts</h4>
		      <small class="text-muted" th:text="${accounts} + ' ' + accounts"/>
		    </div>
		    <p class="mb-1">Create new accounts and view the transaction details for a particular account.</p>
		  </a>
		  <a href="/wallets" class="list-group-item list-group-item-action flex-column align-items-start" id="wallets">
		    <div class="d-flex w-100 justify-content-between">
		      <h4 class="mb-1">Wallets</h4>
		      <small class="text-muted" th:text="${wallets} + ' ' + wallets"/>
		    </div>
		    <p class="mb-1">View the Estacoin wallet balances, transfer Estacoin from one wallet to another and make bank payments to a specific wallet.</p>
		  </a>
		  <a href="/rates" class="list-group-item list-group-item-action flex-column align-items-start" id="rates">
		    <div class="d-flex w-100 justify-content-between">
		      <h4 class="mb-1">Exchange Rates</h4>
		      <small class="text-muted" th:text="${rates} + ' ' + rates"/>
		    </div>
		    <p class="mb-1">View exchange rates to Estacoin, create new rates or modify existing rates.</p>
		  </a>
		</div>		
	</div>
</body>
</html>
