<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb bg-dark">
		    <li class="breadcrumb-item"><a class="text-light" href="/">Home</a></li>
		    <li class="breadcrumb-item"><a class="text-light" href="/accounts">Accounts</a></li>
		    <li class="breadcrumb-item text-light active" aria-current="page">Open Account</li>
		  </ol>
		</nav>			
		<form action="#" th:action="@{/newaccount}" th:object="${newAccount}" method="post">
		  <div class="row">
			  <div class="col">
		  		  <input type="text" class="form-control form-control-lg mb-1" placeholder="Account Name" th:field="*{accountName}"/>
			      <input type="text" class="form-control mb-1" placeholder="Opening Deposit" th:field="*{openingDeposit}"/>
			  </div>
			  <div class="col">
			  	<select class="form-control form-control-lg mb-1" th:field="*{currency}">
			  		<option value="">select currency</option>
    				<option th:each="rate : ${rates}" th:value="${rate.currency}" th:text="${rate.currency}"></option>
				</select>
			  </div>
		  </div>
		  <div class="row">
		  	<div class="col">
				<button type="submit" class="btn btn-primary btn-lg">Open Account</button>
		  	</div>
		  </div>
		</form>		
	</div>
</body>
</html>
