<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb bg-dark">
		    <li class="breadcrumb-item"><a class="text-light" href="/">Home</a></li>
		    <li class="breadcrumb-item"><a class="text-light" href="/rates">Rates</a></li>
		    <li class="breadcrumb-item text-light active" aria-current="page">New Exchange Rate</li>
		  </ol>
		</nav>		
		<div class="card">
		  <h2 class="card-header">Exchange Rate&nbsp;<small th:text="${exchangeRate.currency}"></small></h2>
		  <div class="card-body">
		    <form class="form-group" action="#" th:action="@{/newrate}" th:object="${exchangeRate}" method="post">
		    	<label for="currency">Currency</label>
			    <input type="text" class="form-control form-control-lg mb-2" th:field="*{currency}" id="currency"/>
			    <label for="rate">Rate</label>
			    <input type="text" class="form-control form-control-lg mb-2" th:field="*{rate}" id="rate"/>
			    <button type="submit" class="btn btn-primary">Create Rate</button>
		    </form>
		  </div>
		</div>
	</div>
</body>
</html>
