<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb" th:classappend="${@environment.getProperty('theme.nav.colour')}">
		    <li class="breadcrumb-item"><a class="text-light" href="/">Home</a></li>
		    <li class="breadcrumb-item text-light active" aria-current="page">Rates</li>
		  </ol>
		</nav>	
		<div class="row">
			<div class="col">
				<div th:each="rate : ${rates}" class="card mb-3" style="width: 50rem;" id="item">
				  <div class="card-body">
				    <h4 class="card-title" th:text="${rate.currency}"/>
				    <h5 class="card-subtitle mb-2 text-muted" th:text="Rate + ' ' + ${rate.rate}"/>
				    <p class="card-text">1&nbsp;<span th:text="${rate.currency}"/>&nbsp;is equal to <span th:text="${rate.rate}"/>&nbsp;EstaCoin</p>
				    <a th:href="@{'/rate/' + ${rate.currency}}" class="btn btn-sm" th:classappend="${@environment.getProperty('theme.button.colour')}">Edit</a>
				  </div>
				</div>				
			</div>
			<div class="col" align="right">
				<a href="/newrate" class="btn" th:classappend="${@environment.getProperty('theme.button.colour')}" role="button">New Exchange Rate</a>		
			</div>
		</div>
	</div>
</body>
</html>
