<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item"><a href="/rates">Rates</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Rate</li>
		  </ol>
		</nav>		
		<h2>Rate</h2>
		<div>
			<form action="#" th:action="@{'/rate/'} + ${currency} " th:object="${task}" method="post">
				<div>
					<label>Currency:</label> <input type="text" th:field="*{currency}"/>
					<label>Rate:</label> <input type="text" th:field="*{rate}"/>
				</div>
				<div>
					<input type="submit" value="Submit" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>
