<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<div class="light-font">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" th:classappend="${@environment.getProperty('theme.nav.colour')}">
			    <li class="breadcrumb-item"><a class="text-light" href="/">Home</a></li>
			    <li class="breadcrumb-item"><a class="text-light" href="/wallets">Wallets</a></li>
			    <li class="breadcrumb-item"><a class="text-light" th:href="@{'/wallet/' + ${walletAddress}}">Wallet</a></li>		    
			    <li class="breadcrumb-item text-light active" aria-current="page">Wallet Transfer</li>
			  </ol>
			</nav>		
		</div>
		<form action="#" th:action="@{/wallettransfer}" th:object="${transfer}" method="post">
		  <div class="row">
			  <div class="col">
			      <input type="text" class="form-control form-control-lg mb-1" th:field="*{transferAmount}"/>
			      <input id="walletAddress" th:field="*{fromAddress}" type="hidden"/>
			  </div>
			  <div class="col">
			  	<select class="form-control form-control-lg mb-1" th:field="*{toAddress}">
			  		<option value="">Select Wallet</option>
    				<option th:each="wallet : ${wallets}" th:value="${wallet.walletAddress}" th:text="${wallet.walletName}"></option>
				</select>
			  </div>
		  </div>
		  <div class="row">
		  	<div class="col">
				<button type="submit" class="btn btn-primary btn-lg">Transfer</button>
		  	</div>
		  </div>
		</form>		
	</div>
</body>
</html>
