<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb" th:classappend="${@environment.getProperty('theme.nav.colour')}">
			    <li class="breadcrumb-item"><a class="text-light" href="/">Home</a></li>
			    <li class="breadcrumb-item text-light active" aria-current="page">Wallets</li>
			  </ol>
			</nav>	
		<div class="row">
			<div class="col">
				<div th:each="wallet : ${wallets}" class="card mb-3" style="width: 50rem;" id="item">
				  <div class="card-body">
				    <h4 class="card-title" th:text="${wallet.walletName}"/>
				    <h5 class="card-subtitle mb-2 text-muted" th:text="'Balance of ' + ${wallet.balance} + ' ' + Estacoin"/>
				    <p class="card-text" th:text="${wallet.walletAddress}"></p>
				    <a th:href="@{'/wallet/' + ${wallet.walletAddress}}" class="btn btn-sm" th:classappend="${@environment.getProperty('theme.button.colour')}">Manage</a>
				  </div>
				</div>				
			</div>
		</div>				
	</div>
</body>
</html>
