<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="/">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Wallets</li>
		  </ol>
		</nav>	
		<div class="row">
			<div class="col-md-8">
				<h2>
					Wallets&nbsp;&nbsp;<small>lklklklk</small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
		<div class="row">
			<ul>
				<li th:each="wallet : ${wallets}"><a
					th:href="@{'/wallet/' + ${wallet.walletAddress}}"> <span
						th:text="${wallet.walletName}"></span>
				</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
